.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-sans);
  background-color: black;
  color: #222;
}

.main-content {
  flex: 1;
  padding: 2rem;
}